@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* these are necessary styles for vue flow */
@import '@vue-flow/core/dist/style.css';

/* this contains the default theme, these are optional styles */
@import '@vue-flow/core/dist/theme-default.css';
@import "tw-animate-css";

@import "./theme.css";

@custom-variant dark (&:is(.dark *));

/* Apply the variables to the base styles */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Custom classes */
@layer utilities {
  .text-custom-1 {
    /* This use the same above variable that already defined in both light and dark mode */
    color: var(--color-foreground);
  }
}

@utility prose-black {
  --tw-prose-body: var(--color-foreground);
  --tw-prose-headings: var(--color-foreground);
  --tw-prose-lead: var(--color-foreground);
  --tw-prose-links: var(--color-foreground);
  --tw-prose-bold: var(--color-foreground);
  --tw-prose-counters: var(--color-foreground);
  --tw-prose-bullets: var(--color-foreground);
  --tw-prose-hr: var(--color-border);
  --tw-prose-quotes: var(--color-foreground);
  --tw-prose-quote-borders: var(--color-foreground);
  --tw-prose-captions: var(--color-foreground);
  --tw-prose-code: var(--color-foreground);
  --tw-prose-pre-code: var(--color-foreground);
  --tw-prose-pre-bg: var(--color-foreground);
  --tw-prose-th-borders: var(--color-foreground);
  --tw-prose-td-borders: var(--color-foreground);
  --tw-prose-invert-body: var(--color-foreground);
  --tw-prose-invert-headings: var(--color-foreground);
  --tw-prose-invert-lead: var(--color-foreground);
  --tw-prose-invert-links: var(--color-foreground);
  --tw-prose-invert-bold: var(--color-foreground);
  --tw-prose-invert-counters: var(--color-foreground);
  --tw-prose-invert-bullets: var(--color-foreground);
  --tw-prose-invert-hr: var(--color-foreground);
  --tw-prose-invert-quotes: var(--color-foreground);
  --tw-prose-invert-quote-borders: var(--color-foreground);
  --tw-prose-invert-captions: var(--color-foreground);
  --tw-prose-invert-code: var(--color-foreground);
  --tw-prose-invert-pre-code: var(--color-foreground);
  --tw-prose-invert-pre-bg: var(--color-foreground);
  --tw-prose-invert-th-borders: var(--color-foreground);
  --tw-prose-invert-td-borders: var(--color-foreground);
}

html, body {
  @apply w-full h-full;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

.font-mono {
  font-family: "JetBrains Mono", monospace;
}

.v-popper__inner {
  @apply text-xs max-w-[300px] wrap-anywhere;
}

/* Thin scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #88888825;
}

.prose code::before,
.prose code::after {
  content: "";
}

.prose blockquote p::before {
  content: "";
}

.prose blockquote p::after {
  content: "";
}

.prose pre {
  font-family: "JetBrains Mono", monospace;
}

.prose code {
  font-family: "JetBrains Mono", monospace;
}

.pr-status {
  @apply rounded-md px-3 py-1;

  &.open {
    @apply text-green-600 bg-green-100;
  }

  &.closed {
    @apply text-red-600 bg-red-100;
  }

  &.merged {
    @apply text-violet-600 bg-violet-100;
  }

  &.draft {
    @apply text-neutral-600 bg-neutral-100;
  }
}

b, strong {
  font-weight: 500;
}